<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CJia.Net.Business.MobileMedical.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CJia.Net.Business.MobileMedical.Properties.Settings>
            <setting name="CJia_Net_Business_MobileMedical_EMRService_EmrService"
                serializeAs="String">
                <value>http://192.168.5.93:88/EmrWebService.asmx</value>
            </setting>
        </CJia.Net.Business.MobileMedical.Properties.Settings>
    </applicationSettings>
</configuration>