<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Port" value="10920" />
    <add key="Host" value="192.168.1.207"/>
    <add key="ClientNo" value="CJiaPEISClient" />
    <add key="SystemNo" value="CJiaPEISSystem" />
    <add key="SystemVersion" value="V1.0.0" />
    <add key="UserNO" value="001" />
  </appSettings>
</configuration>