<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Port" value="10920" />
    <add key="Host" value="172.16.18.64"/>
    <!--<add key="Host" value="172.16.20.50"/>-->
    <!--<add key="Host" value="127.0.0.1"/>-->
    <!--<add key="Host" value="192.168.2.208"/>-->
    <!--<add key="ClientNo" value="CJiaJJPIVASQAClient" />
    <add key="SystemNo" value="CJiaJJPIVASQASystem" />-->
    <add key="ClientNo" value="CJiaJJPIVASClient" />
    <add key="SystemNo" value="CJiaJJPIVASSystem" />
    <!--<add key="ClientNo" value="CJiaPIVASClient" />
    <add key="SystemNo" value="CJiaPIVASSystem" />-->
    <add key="SystemStyle" value=""/>
    <add key="SystemVersion" value="V1.0.0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="LabelPrinterName" value="" />-->
    <!--<add key="LabelPrinterName" value="Citizen CL-S700" />-->
    <add key="LabelPrinterName" value="Microsoft XPS Document Writer" />
    <add key="Speak" value="成功" />
    <add key="LableCount" value="2"/>
    <!--瓶贴样式。1:普通瓶贴;2:静脉高营养瓶贴-->
    <add key="LableSpec" value="1"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>