<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Port" value="10920" />
    <add key="Host" value="127.0.0.1" /><!--192.168.10.37 192.168.1.207-->
    <add key="ClientNo" value="CJiaHEALTH_BClient" /><!--CJiaHEALTHClient-->
    <add key="SystemNo" value="CJiaHEALTH_BSystem" /><!--CJiaHEALTHSystem-->
    <add key="SystemVersion" value="V1.0.0" />
    <add key="UserNO" value="" />
    <add key="LOGIC_PATH" value="D:\Health" />
    <add key="IP_PATH" value="\\192.168.1.207\Health"/>
    <add key="PIC_LOCAL_PATH" value="D:\Health" />
    <add key="PIC_SAVE_IP" value="192.168.10.37"/>
    <add key="PIC_SAVE_USER_NAME" value="administrator"/>
    <add key="PIC_SAVE_PWD" value="cj123!@#"/>
    <add key="ImgExtension" value=".jpg" />
    <add key="AUTO" value="1" />
    <add key="ftp_ip" value="127.0.0.1" />
    <add key="ftp_userName" value="dbNRfSz2jcbv+OGNQq2J/w==" />
    <add key="ftp_password" value="dbNRfSz2jcbv+OGNQq2J/w==" />
    <!--拍照和扫描是否在一起 0代表同时进行,1代表不同时-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Version" value="2.2.1" />
    <!--扫描仪扫描图片保存的本地路径-->
    <add key="JJCJScanPicPath" value="D:\JJCJScanPic" />
    <!--高拍仪初始化 0代表只有一台摄像头,1代表多台-->
    <add key="CmCaptureNO" value="0" />
    <!--程序中是否调用扫描仪进行扫描 0代表否,1代表是-->
    <add key="isScanInSoftware" value="0" />
    <!--程序中空白纸设置 0代表用妇保扫描仪,1代表用九江创佳扫描仪-->
    <add key="isJJCJBlank" value="1" />
    <!--程序中表示空白页的概率-->
    <add key="BlankProbability" value="0.95" />
    <!--登录界面选择 0:Dev,1:windows-->
    <add key="isDev" value="1" />
    <!--是否为光阵高拍仪 1代表是-->
    <add key="isGZ" value="0" />
    <!--高拍仪DPI-->
    <add key="DPI" value="250" />
    <!--高拍仪压缩率-->
    <add key="JQ" value="75" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HealthServiceSoap" />
        <binding name="HealthServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.18.64:1234/HealthService.asmx"
        binding="basicHttpBinding" bindingConfiguration="HealthServiceSoap"
        contract="CJ.HealthServiceSoap" name="HealthServiceSoap" />
      <endpoint address="http://172.16.18.64:1234/HealthService.asmx"
        binding="basicHttpBinding" bindingConfiguration="HealthServiceSoap1"
        contract="JJCJ.HealthServiceSoap" name="HealthServiceSoap1" />
    </client>
  </system.serviceModel>
</configuration>