<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="CJiaClient-CJiaSystem^Default" value="ORACLE^Data Source=HISDB5; User Id=OWHIS; Password=YK90S02;" />
    <add key="CJiaClient-CJiaSystem^OracleDB" value="ORACLE^Data Source=HISDB5; User Id=OWHIS; Password=YK90S02;" />
    <add key="CJiaClient-CJiaSystem^ETLDB" value="ORACLE^Data Source=HISDB714; User Id=ETL; Password=ETLINTERFACE;" />
    <add key="CJiaClient-CJiaSystem^SqlDB" value="SQL^Data Source=192.168.1.204;Initial Catalog=CJia_CheckRegOrder;User Id=shcj;Password=cj123!@#;" />
    <add key="CJiaClient-CJiaSystem^SQLiteDB" value="SQLite^Data Source=E:\CJia\CJia.Solution\Database\iMobileMedical.db; Pooling=True;" />
    <add key="CJiaClient-CJiaSystem^SqlGoldWayDB" value="SQL^Data Source=192.168.1.202;Initial Catalog=GoldWay;User Id=cjia;Password=cj123!@#;" />
    <add key="CJiaClient-CJiaHISSystem^Default" value="ORACLE^Data Source=SHCJ; User Id=cjhis; Password=cjhis;" />
    <add key="CJiaToolsClient-CJiaToolsSystem^Default" value="ORACLE^Data Source=SHCJ; User Id=tools; Password=tools;" />
    <add key="CJiaPIVASClient-CJiaPIVASSystem^OleDb" value="OleDb^Data Source=ORCL; User Id=PIVAS; Password=PIVAS;Provider=MSDAORA;Persist Security Info=True;" />
    <add key="CJiaJJPIVASClient-CJiaJJPIVASSystem^OleDb" value="OleDb^Data Source=jjfb_l; User Id=PIVAS; Password=PIVAS;Provider=MSDAORA;Persist Security Info=True;" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
