<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="DBConnectionString" value="Data Source=jjfb_l; User Id=mhis; Password=mhis;Provider=MSDAORA;Persist Security Info=True;"/>
    <add key="bagPrint" value="Microsoft XPS Document Writer" />
  </appSettings>
</configuration>
