<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="SystemName" value="医院HIS系统"/>
    <add key="ServerIP" value="192.168.1.204"/>
    <add key="ServerPort" value="10920"/>
    <add key="ClientNo" value="CJiaClient"/>
    <add key="SystemNo" value="CJiaHISSystem"/>
    <add key="ToolStripImages" value="E:\CJia\CJia.Solution\Application\2.创佳HIS\CJia.HIS.App\ToolStripImages\"/>
  </appSettings>
</configuration>
