<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="Host" value="127.0.0.1"/>-->
    <add key="Host" value="192.168.1.207"/>
    <!--<add key="Host" value="192.168.1.108"/>-->
    <add key="Port" value="10920"/>
    <add key="ClientNo" value="CJiaHEALTHClient" />
    <add key="SystemNo" value="CJiaHEALTHSystem" />
    <add key="SystemVersion" value="V1.0.0"/>
    <add key ="UIFormWork" value="using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Drawing;
using System.Data;
using System.Text;
using System.Windows.Forms;
using DevExpress.XtraEditors;

namespace [项目名称].UI
{
    public partial class [UI名]View : CJia.HIS.View,Views.I[UI名]View
    {
        public [UI名]View()
        {
            InitializeComponent();
        }

        protected override object CreatePresenter()
        {
            return new Presenters.[UI名]Presenter(this);
        }

    }
}"/>
    <add key="ViewsFormWork" value="using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Data;

namespace [项目名称].Views
{
    public interface I[UI名]View : CJia.HIS.IView
    {
        
    }
}"/>
    <add key="PresentersFormWork" value="using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Data;
using System.IO;

namespace [项目名称].Presenters
{
    public class [UI名]Presenter:CJia.HIS.Presenter&lt;Models.[UI名]Mode,lViews.I[UI名]View&gt;
    {

        public [UI名]Presenter(Views.I[UI名]View view)
            : base(view)
        {
        }

        protected override void OnInitView()
        {

        }

    }
}"/>
    <add key="ModelsFormWork" value="using System;
using System.Collections.Generic;
using System.Data;
using System.Text;

namespace [项目名称].Models
{
    public class [UI名]Model : CJia.HIS.Model
    {
        
    }
}"/>
  </appSettings>
</configuration>