<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Port" value="10920" />
    <add key="Host" value="192.168.100.4"/>
    <add key="JJFB_Host" value="192.168.100.207"/>
    <add key="JJFBClientNo" value="CJiaJJFBClient" />
    <add key="JJFBSystemNo" value="CJiaJJFBSystem" />
    <add key="HQMSClientNo" value="CJiaHQMSClient" />
    <add key="HQMSSystemNo" value="CJiaHQMSSystem" />
    <add key="BIClientNo" value="CJiaHISOLAPClient" />
    <add key="BISystemNo" value="CJiaHISOLAPSystem" />
    <add key="DTClientNo" value="CJiaHISOLAPDataClient" />
    <add key="DTSystemNo" value="CJiaHISOLAPDataSystem" />
    <add key="PIVASClientNo" value="CJiaPIVASClient"/>
    <add key="PIVASSystemNo" value="CJiaPIVASSystem"/>
    <add key="SystemStyle" value=""/>
    <add key="SystemVersion" value="V1.0.0" />
    <add key="DBFSavePath" value="D:\PDF" />
    <add key="JinChuangSoftwarePath" value="D:\KuGou\KGMusic\KuGou.exe" />
    <add key="JinChuangSoftwareName" value="KuGou" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>