<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="ExtAspNet" type="ExtAspNet.ConfigSection, ExtAspNet" requirePermission="false"/>
      <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          </sectionGroup>
        </sectionGroup>
      </sectionGroup>
  </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <ExtAspNet EnableBigFont="true" DebugMode="false" EnableAjax="true" FormOffsetRight="20" FormLabelWidth="50" FormLabelSeparator="：" IconBasePath="~/Icons" EnableAjaxLoading="true"/>
  <appSettings>
    <add key="Port" value="10920" />
    <add key="Host" value="192.168.1.207"/>
    <add key="ClientNo" value="CJiaUremiaClient" />
    <add key="SystemNo" value="CJiaUremiaSystem" />
    <add key="SystemVersion" value="V1.0.0" />
    <add key="SessionTimeOut" value="60" />
  </appSettings>
</configuration>
