<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="192.168.1.204"/>
    <add key="Port" value="10920"/>
    <add key="ClientNo" value="CJiaPIVASClient"/>
    <add key="SystemNo" value="CJiaPIVASSystem"/>
    <add key="SystemVersion" value="V1.0.0"/>
  </appSettings>
</configuration>